@charset "UTF-8";

:root {
    --verde: #49a09d;
    --lilas: #5f2c82;
}

* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


html, body {
    background-color: #5f2c82;
}

h1 {
    text-align: center;
    font-size: 1.6em;
}

main > p {
    text-align: left;
    font-size: 0.8em;
    padding: 5px 10px;
}

iframe {
    position: absolute;
    top: 50%;
    margin-top: -250px;
    left: 50%;
    margin-left: -125px;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.682);
}

main {
    position: absolute;
    top: 50%;
    margin-top: -56px;
    left: 50%;
    margin-left: -125px;
    width: 250px;
    height: 310px;
    border-radius: 0px 0px 20px 20px ;
    background-color: white;
}

form {
    width: 100%;
    height: auto;
}

.divs {
    color: white;
    background-color: #5f2c82;
    margin: 5px 10px 0px 10px;
    border-radius: 10px;
    height: 40px;
}

#icones {
    font-size: 29px;
    padding-top: 8px;
    padding-left: 10px;
    text-align: center;
}

#idemail {
    position: absolute;
    border-radius: 10px;
    border: none;
    background-color: #9bd5d3;
    height: 36px;
    width: calc(100% - 75px);
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 5px;
    font-size: 16px;
}

#idemail:focus {
    background-color: white;
}

#idsenha {
    position: absolute;
    border-radius: 10px;
    border: none;
    background-color: #9bd5d3;
    height: 36px;
    width: calc(100% - 75px);
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 5px;
    font-size: 16px;
}

#idsenha:focus {
    background-color: white;
}

#identrar {
    height: 40px;
    width: calc(100% - 20px);
    color: white;
    background-color: #53aaa7;
    margin: 5px 10px 0px 10px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    display: block;
    cursor: pointer;
}

#identrar:hover {
    background-color: #397775;
    
}

.divesqueci {
    background-color: white;
    margin: 5px 10px 0px 10px;
    border-radius: 5px;
    border: 1px solid #53aaa7;
    height: 38px;
    text-align: center;
    font-size: 1em;
}

.divesqueci:hover {
    background-color: #6ad3d0;
}

a {
    color: #397775;
    text-decoration: none;
}

#iconemail {
    font-size: 12px;
    padding-top: 10px;
 }

 